@define-color window_bg_color #1e1e2e;
@define-color accent_bg_color #89b4fa;
@define-color theme_fg_color #cdd6f4;
@define-color error_bg_color #eba0ac;
@define-color error_fg_color #1e1e2e;
@define-color success_color #a6e3a1;
@define-color border_color #313244;

* {
  all: unset;
}

popover {
  background: lighter(@window_bg_color);
  border: 1px solid @border_color;
  border-radius: 18px;
  padding: 10px;
}

.normal-icons {
  -gtk-icon-size: 16px;
}

.large-icons {
  -gtk-icon-size: 32px;
}

scrollbar {
  opacity: 0;
}

.box-wrapper {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  background: @window_bg_color;
  padding: 15px 15px 10px 15px;
  /* padding: 20px; */
  border-radius: 20px;
  border: 1px solid @border_color;
}

.preview-box,
.elephant-hint,
.placeholder {
  padding: 10px;
  color: @theme_fg_color;
}

.box {
}

.search-container {
  border-radius: 10px;
}

.input placeholder {
  opacity: 0.5;
  font-size: 16px;
}

.input selection {
  background: #2f3040;
}

.input {
  caret-color: @theme_fg_color;
  background: #27273d;
  padding: 10px;
  font-size: 20px;
  color: @theme_fg_color;
}

.input:focus,
.input:active {
}

.content-container {
}

.placeholder {
  font-size: 20px;
}

.scroll {
}

.list {
  color: @theme_fg_color;
}

child {
}

.item-box {
  border-radius: 10px;
  padding: 10px;
}

.item-quick-activation {
  background: alpha(@accent_bg_color, 0.25);
  border-radius: 5px;
  padding: 10px;
}

/* child:hover .item-box, */
child:selected .item-box {
  background: alpha(@accent_bg_color, 0.25);
}

.item-text-box {
  font-size: 20px;
}

.item-subtext {
  font-size: 16px;
  opacity: 0.5;
}

.providerlist .item-subtext {
  font-size: unset;
  opacity: 0.75;
}

.item-image-text {
  font-size: 36px;
}

.preview {
  border: 1px solid alpha(@accent_bg_color, 0.25);
  /* padding: 10px; */
  border-radius: 10px;
  color: @theme_fg_color;
  font-size: 18px;
}

.calc .item-text {
  font-size: 31px;
}

.calc .item-subtext {
  font-size: 16px;
}

.symbols .item-image {
  font-size: 31px;
}

.todo.done .item-text-box {
  opacity: 0.25;
}

.todo.urgent {
  font-size: 31px;
}

.todo.active {
  font-weight: bold;
}

.bluetooth.disconnected {
  opacity: 0.5;
}

.preview .large-icons {
  -gtk-icon-size: 64px;
}

.keybinds {
  padding-top: 10px;
  border-top: 1px solid #27273d;
  font-size: 16px;
  color: @theme_fg_color;
}

.global-keybinds {
}

.item-keybinds {
  font-size: 16px;
}

.keybind {
}

.keybind-button {
  opacity: 0.5;
}

.keybind-button:hover {
  opacity: 0.75;
}

.keybind-bind {
  text-transform: lowercase;
  opacity: 0.35;
}

.keybind-label {
  padding: 2px 4px;
  border-radius: 4px;
  border: 1px solid @theme_fg_color;
}

.error {
  padding: 10px;
  background: @error_bg_color;
  color: @error_fg_color;
}

:not(.calc).current {
  font-style: italic;
}

.preview-content.archlinuxpkgs,
.preview-content.dnfpackages {
  font-family: monospace;
  font-size: 18px;
}
